<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body class="about">
    <div>
      <h1>About 7 Keys to Creativity</h1>
      <h2>Seven Key Elements</h2>
      <ul>
        <li>Sense of purpose</li>
        <li>Sensitivity</li>
        <li>Tension</li>
        <li>Irony</li>
        <li>Play</li>
        <li>Luck</li>
        <li>Hope</li>
      </ul>
    </div>
    <a href="/picture">other paintings</a>
  </body>
</html>
